exportPattern("^[[:alpha:]]+")
export(getBalance)
export(getPublicKey)
export(getAccount)
export(getVotes)
export(getTransactions)
export(sendTransaction)
export(blocks)
export(delegates)
importFrom(httr, content)
importFrom(httr, GET)
